<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div
    class="flex flex-col items-center md:flex-row md:justify-between md:gap-x-24"
  >
    <div>
      <h1 class="text-3xl font-bold text-gray-200 hover:text-white">
        Hola, mi nombre es <span
          class="bg-gradient-to-r from-lightBlue to-paleBlue hover:to-lightBlue hover:from-paleBlue bg-clip-text text-transparent"
          >Angel Lira</span
        >
      </h1>
      <p class="mt-6 text-xl leading-9 text-gray-200">
        Apasionado por la tecnología y la programación. En búsqueda de
        oportunidades para impulsar mi carrera en el mundo del desarrollo web.
        Me considero responsable, diligente, innovador y proactivo, con la
        capacidad para trabajar bajo presión en busca de objetivos.<br /><br
        />He colaborado en proyectos académicos y personales, lo que me ha
        permitido desarrollar habilidades de trabajo en equipo, comunicación
        efectiva y la capacidad para aportar soluciones de manera eficaz.
      </p>
    </div>
    <div class="shrink-0">
      <img
        class="h-80 w-80 rounded-full object-cover opacity-90 transition duration-500 ease-in-out hover:opacity-100 hover:transition-duration-1000 ease-in-out"
        src="https://avatars.githubusercontent.com/u/43732282?v=4"
        alt="Avatar image"
        loading="lazy"
      />
    </div>
  </div>
</div>
